.container {
  display: block;
  padding: 2rem;
}

.container h1,
.container h3 {
  color: #a8a5ff;
  font-weight: bold;
}

.container h4 {
  color: #02fae1;
}

.profile {
  display: flex;
  border-radius: 300px;
}

.about {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}

.about h1 {
  margin-top: 5rem;
}

.skills {
  background-color: #2020205d;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skills span {
  flex-wrap: wrap;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  gap: 1rem;
}

.skills span {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  gap: 1rem;
}

.next {
  padding: 3px;
  background-image: linear-gradient(to bottom right, #8f8f8f, #464646);
  border-radius: 10px;
}

.react {
  padding: 3px;
  background-image: linear-gradient(to bottom right, #0051ff, #002a85);
  border-radius: 10px;
}

.node {
  padding: 3px;
  background-image: linear-gradient(to bottom right, #8ece45, #90c84e);
  border-radius: 10px;
}

.html {
  padding: 3px;
  background-image: linear-gradient(to bottom right, #ff5e00, #943600);
  border-radius: 10px;
}

.css {
  padding: 3px;
  background-image: linear-gradient(to bottom right, #0051ff, #002a85);
  border-radius: 10px;
}

.ts {
  padding: 3px;
  background-image: linear-gradient(to bottom right, #0051ff, #0051ff);
  border-radius: 10px;
}

.js {
  padding: 3px;
  background-image: linear-gradient(to bottom right, #f7df1e, #f7df1e);
  border-radius: 10px;
}

.titleprojects {
  margin: 2rem auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.projects {
  display: flex;
}

.projects h2 {
  margin-bottom: 0.5rem;
}

.projects span {
  text-align: center;
}

.imgproject {
  border: solid 2px #8f8f8f1f;
  border-radius: 50px;
  width: 90%;
  height: 80%;
}

.imgproject:hover {
  border: solid 2px #9a36f7;
}

.exp {
  margin: 2rem 0;
}

.exp span {
  color: #9a36f7;
  margin-top: 2rem;
}

.exp h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.exp p {
  font-size: 20px;
  color: #e9e9e9ce;
}

.differentialsBox {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 4rem auto;
}

.differentialsBox h3 {
  font-size: 20px;
}

.slideCards {
  background-color: rgba(121, 121, 121, 0.068);
  border-radius: 30px;
  padding-inline: 1rem;
}

.slideCards span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.slideCards h3 {
  color: #ffffff80;
  padding: 1rem;
}

.slideCards h1 {
  padding: 1rem;
}

.titleElement {
  font-size: 150%;
  margin: auto;
}

.contact {
  display: flex;
}

.contactcontainer {
  background-color: rgb(29, 29, 29);
  border-radius: 50px;
  padding: 1.5rem 4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1em;
}

.contact h1,
.contact h3 {
  padding: 1rem 0 0 0.5rem;
  display: flex;
  margin: auto;
  justify-content: center;
  color: #ffffff59;
}

.contact input,
.contact label,
.contact textarea {
  padding: 10px;
  margin: auto;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.contact textarea {
  height: 5rem;
  resize: none;
}

.contact button {
  margin: auto;
  width: 104%;
  height: 2em;
}

.contact button:hover {
  background-color: #9a36f7;
}

.socials {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 5px;
}

.socialIcon {
  background-color: #fff;
  padding: 8px;
  border-radius: 16px;
  cursor: pointer;
}

@media (max-width: 912px) {
  .about {
    display: block;
  }

  .profile {
    margin: auto;
    width: 10rem;
    height: 10rem;
    display: flex;
    border-radius: 300px;
  }

  .projects {
    display: block;
    margin-bottom: 1rem;
  }

  .projects span {
    display: block;
    margin: auto;
    width: 100%;
  }

  .projects h2 {
    margin-bottom: 0.5rem;
    font-size: 80%;
  }

  .exp {
    margin-bottom: 0;
  }

  .exp p {
    font-size: 12px;
  }

  .differentialsBox {
    display: block;
    margin: 1.5rem auto;
  }

  .differentialsBox h1,
  .differentialsBox h3 {
    display: none;
  }

  .slideCards {
    padding-inline: 0rem;
  }

  .slideCards span {
    display: block;
    text-align: center;
  }

  .slideCards h3 {
    display: flex;
    font-size: 16px;
  }

  .slideCards h1 {
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 0rem;
    font-size: 20px;
  }

  .contact {
    display: block;
  }

  .contactcontainer img {
    display: none;
  }
  .contactcontainer {
    background-color: rgb(29, 29, 29);
    border-radius: 50px;
    margin: auto;
    padding: 2rem;
    width: 80%;
    margin-top: 2rem;
    display: block;
    align-items: center;
  }

  .contact h1,
  .contact h3 {
    padding: 1rem 0 0 0.5rem;
    display: block;
    margin: auto;
    justify-content: center;

    color: #ffffff59;
  }

  .contact h1 {
    font-size: 35px;
  }

  .contact h3 {
    font-size: 20px;
  }

  .socials {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 15px;
  }

  .socialIcon {
    background-color: #fff;
    padding: 8px;
    border-radius: 16px;
    cursor: pointer;
  }

  .contact input,
  .contact label,
  .contact textarea {
    padding: 2px;
    display: block;
    margin: auto;
    width: 15rem;
    margin-bottom: 1rem;
    border-radius: 10px;
  }

  .contact input[type='email'] {
    height: 1.5rem;
  }

  .contact textarea {
    height: 5rem;
    resize: none;
  }

  .contact button {
    width: 15rem;
    height: 2rem;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
}
