.container {
  height: 100vh;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 10vh;
  padding: 1rem 3rem;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse at center,
    transparent 60%,
    rgb(0, 0, 0) 80%
  );
  z-index: -1;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/background.png');
  filter: contrast(105%) brightness(85%);
  background-size: cover;
  background-position: center 10%;
  z-index: -2;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: scale-down;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
}

.title h1 {
  font-size: 32px;
  color: #9a36f7;
  font-weight: 500;
  letter-spacing: -1px;
}

.title h3 {
  margin-top: -0.5rem;
  margin-left: 10%;
  color: #dbdbdb;
  font-weight: 500;
  letter-spacing: -2px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: 300;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background-color: #292929;
  box-shadow: 3px 3px 21px #151515, -3px -3px 5px #8a8a8a;
  border-radius: 50px;
  padding: 2%;
  color: #dbdbdb;
  font-weight: bold;
  font-size: 0.8vw;
}

.name {
  margin: 10% 2%;
}

.name h1 {
  font-weight: 500;
  font-size: 150px;
  letter-spacing: 5px;
  margin-top: -3rem;
  color: #dbdbdb;
}

.name p {
  width: 40%;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.msg {
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #292929;
  box-shadow: 3px 3px 21px #151515, -3px -3px 5px #8a8a8a;
  background-size: 400%;
  color: #5dc054;
  border: none;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.msg:hover::before {
  transform: scaleX(1);
}

.msgContent {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}

.msg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(82.3deg, #000000 10.8%, #292929 94.3%);
  box-shadow: 10px 10px 50px #ffffff, -10px -10px 50px #ffffff;
  transition: all 0.475s;
}

.scrollDown {
  display: flex;
  margin: auto;
  animation: arrowAnimation 1.5s infinite;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 950px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .navContainer {
    padding-inline: 0.2rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .buttons {
    gap: 3rem;
  }

  .button p {
    display: none;
  }

  .name {
    margin: 8rem 30% auto 0;
    padding: 1rem;
    width: 80%;
    text-align: justify;
  }

  .name h1 {
    font-size: 42px;
    margin-top: -1rem;
  }

  .name p {
    width: 80%;
    font-size: 14px;
    letter-spacing: 0px;
    margin-bottom: 0.5rem;
  }

  .msg {
    height: 2.5rem;
    padding: 0 1rem;
  }
}
