.container {
  height: 100vh;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 10vh;
  padding: 1rem 3rem;
  position: relative;
}

.container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    ellipse at center,
    transparent 60%,
    rgb(0, 0, 0) 80%
  );
  z-index: -1;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/images/background.png');
  filter: contrast(105%) brightness(85%);
  background-size: cover;
  background-position: center 10%;
  z-index: -2;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: center;
}

.logo img {
  width: 5rem;
  height: 5rem;
  object-fit: scale-down;
}

.title h1 {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  letter-spacing: -1px;
}

.title h3 {
  margin-top: -0.8rem;
  margin-left: 10%;
  color: #9a36f7;
  font-weight: 500;
  letter-spacing: -2px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  background: transparent;
  border: none;
  border-radius: 50px;
  color: #dbdbdb;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s;
}

.nav button:hover,
.mainNav button:hover {
  color: #9a36f7;
}

.container main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  height: 80vh;
  justify-content: center;
  gap: 3%;
}

.container main h1 {
  font-size: 8vw;
  letter-spacing: 10px;
  font-weight: 500;
  line-height: 0.8;
}

.container main p {
  font-size: 1vw;
  letter-spacing: 2px;
  width: 50%;
  text-align: justify;
  font-weight: 300;
  line-height: 1;
}

.mainNav {
  display: flex;
  gap: 1%;
}

.mainNav button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  gap: 2%;
  border-radius: 50px;
  transition: 0.4s;
}

.mainNav button:first-child {
  padding-inline: 2%;
  gap: 2%;
}

.mainNav button p {
  width: 100%;
}

.mainNav button svg {
  width: 35px;
  height: 35px;
}

.scrollDown {
  width: 100%;
  animation: arrowAnimation 1.5s infinite;
  display: flex;
  justify-content: center;
}

.scrollDown svg {
  width: 32px;
  height: 32px;
}

@keyframes arrowAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .navContainer {
    flex-direction: column;
    align-items: center;
    gap: 50%;
  }

  .navContainer h1 {
    font-size: 22px;
    margin-top: 7%;
  }

  .navContainer h3 {
    font-size: 16px;
  }

  .container main h1 {
    font-size: 38px;
  }
  .container main h1:first-child {
    margin-top: 15%;
  }

  .container main p {
    font-size: 12px;
    width: 70%;
    text-align: start;
  }

  .mainNav button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    height: 35px;
    gap: 2%;
    border-radius: 50px;
    transition: 0.4s;
  }

  .mainNav button:first-child {
    padding-inline: 2%;
    gap: 2%;
  }

  .mainNav button p {
    width: 100%;
  }

  .mainNav button svg {
    width: 25px;
    height: 25px;
  }

  .scrollDown svg {
    width: 22px;
    height: 22px;
  }
}
